@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Pagination<VMCategory>?

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Manage Category";
}

@section Breadcrumbs {
    <div class="d-flex justify-content-end">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Admin Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Category</li>
            </ol>
        </nav>
    </div>
}

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <style>
            .btn-search {
                background-color: #007bff;
            }

                .btn-search:hover {
                    background-color: #0056b3;
                }

            .btn-add {
                background-color: #28a745;
                /* Hijau, atau pilih warna sesuai tema */
                color: #fff;
                font-weight: 500;
                border: none;
                border-radius: 5px;
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }

                .btn-add:hover {
                    background-color: #218838;
                    /* Warna hijau yang sedikit lebih gelap */
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
                }

                .btn-add:active {
                    background-color: #1e7e34;
                    /* Warna lebih gelap saat tombol ditekan */
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    transform: scale(0.98);
                    /* Sedikit mengecilkan tombol saat ditekan */
                }
        </style>

        <button class="btn btn-success btn-add" id="btnAddCategory" data-bs-toggle="modal"
                data-bs-target="#staticModal">
            <i class="fas fa-plus"></i>
        </button>

        <form class="search-group" asp-action="category" asp-controller="admin">
            <div class="input-group">
                <input type="text" name="filter" id="filter" class="form-control" placeholder="Search category..."
                       value="@ViewBag.Filter">
                <button class="btn btn-primary input-group-text btn-search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    <style>
        td {
            vertical-align: middle;
        }
    </style>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-1">No.</th>
                <th class="col-3">Category Name</th>
                <th class="col-2">Type</th>
                <th class="col-4">Description</th>
                <th class="col-2">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                int no = ViewBag.FirstIdx;
                @foreach (var category in Model)
                {
                    <tr class="align-items-center">
                        <td>@no.</td>
                        <td>@category.CategoryName</td>
                        <td>
                            <span class="badge @(category.Type == "Income" ? "bg-success" : "bg-danger")">
                                @category.Type
                            </span>
                        </td>
                        <td>@category.Description</td>
                        <td>
                            <button class="btn btn-warning" data-id="@category.Id" data-bs-toggle="modal"
                                    data-bs-target="#staticModal">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" data-id="@category.Id" data-bs-toggle="modal"
                                    data-bs-target="#staticModal">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    no += 1;
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">-- No Data Category --</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end gap-1 mt-3">
        @if (Model != null)
        {
            <div class="my-auto me-3">Menampilkan @ViewBag.FirstIdx-@ViewBag.LastIdx dari @Model.TotalData</div>
            <button class="btn @(Model.HasPreviousPage ? "btn-outline-primary" : "btn-secondary disabled")" id="btnPrev">
                <i class="fas fa-angle-left"></i>
            </button>
            <button class="btn @(Model.HasNextPage ? "btn-outline-primary" : "btn-secondary disabled")" id="btnNext">
                <i class="fas fa-angle-right"></i>
            </button>
        }
    </div>
</div>

@section Scripts {
    <script>
        function RefreshPage(filter, currentPageSize, pageNumber) {
            location.href = `/admin/category?filter=${filter}&currentPageSize=${currentPageSize}&pageNumber=${pageNumber}`
        }

        $(document).ready(() => {
            if ("@ViewBag.Error" != "" && "@ViewBag.ErrorDesc" != "") toastr.error(`@Html.Raw(ViewBag.ErrorDesc)`, `@Html.Raw(ViewBag.Error)`)
            if ("@ViewBag.Error" != "" && "@ViewBag.ErrorDesc" == "") toastr.error(`@Html.Raw(ViewBag.Error)`)
            if ("@ViewBag.Error" == "" && "@ViewBag.ErrorDesc" != "") toastr.error(`@Html.Raw(ViewBag.ErrorDesc)`)

            $("#btnAddCategory").click((e) => {
                e.preventDefault()
                $("#staticModalBody").html(spinner)
                $("#staticModalBody").load("/Category/Create")
            })

            $(".btn-warning").click(function (e) {
                e.preventDefault()

                let id = $(this).data("id")
                console.log("btnWarning clicked", id);
                $("#staticModalBody").html(spinner)
                $("#staticModalBody").load("/Category/Edit/" + id)
            })

            $(".btn-danger").click(function (e) {
                e.preventDefault()

                let id = $(this).data("id")
                console.log("btnDanger clicked", id);
                $("#staticModalBody").html(spinner)
                $("#staticModalBody").load("/Category/Delete/" + id)
            })

            $("#btnPrev").click((e) => {
                e.preventDefault()

                RefreshPage('@ViewBag.Filter', '@ViewBag.PageSize', '@(!Model!.HasPreviousPage ? Model.PageIndex : Model.PageIndex - 1)')
            })

            $("#btnNext").click((e) => {
                e.preventDefault()

                RefreshPage('@ViewBag.Filter', '@ViewBag.PageSize', '@(!Model!.HasNextPage ? Model.PageIndex : Model.PageIndex + 1)')
            })
        })
    </script>
}
