@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model VMBudgetPlan?

@{
    Layout = null;
}

<!-- Add Budget Plan Modal -->
<div class="card">
    <div class="card-body">
        @if(Model != null)
        {
            <form id="budgetForm">
                <div class="mb-3">
                    <label for="budgetName" class="form-label">Budget Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="budgetName" name="PlanName" required value="@Model.PlanName">
                </div>
                <div class="mb-3"> 
                    <label for="budgetAmount" class="form-label">Amount<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="budgetAmount" name="TotalBudgetStr" required value="@Model.TotalBudget.ToString().Replace(',', '.')">
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label for="startDate" class="form-label">Start Date<span class="text-danger">*</span></label>
                        <input class="form-control" id="startDate" required type="date" name="StartDate" value="@Model.StartDate?.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="mb-3 col">
                        <label for="endDate" class="form-label">End Date<span class="text-danger">*</span></label>
                        <input class="form-control" id="endDate" required type="date" name="EndDate" value="@Model.EndDate?.ToString("yyyy-MM-dd")">
                    </div>
                </div>
            </form>
        }
    </div>

    <div class="card-footer d-flex justify-content-evenly">
        <button class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" id="btnSave">Save</button>
    </div>
</div>

<script>
    $(document).ready(() => {
        $("#staticModalLabel").text("@ViewBag.Title")

        $("#budgetForm").validate({
            rules: {
                PlanName: {
                    required: true
                },
                TotalBudgetStr: "required",
                StartDate: "required",
                EndDate: "required",
            },
            messages: {
                PlanName: {
                    required: "Plan name is required!"
                },
                TotalBudgetStr: {
                    required: "Amount total budget is required!"
                },
                StartDate: {
                    required: "Start date is required!"
                },
                EndDate: {
                    required: "End date is required!"
                },
            },
            errorPlacement: function (error, element) {
                error.addClass("text-danger")
                error.insertAfter(element);
            }
        })

        $("#btnSave").click((e) => {
            e.preventDefault()

            if ($("#budgetForm").valid()) {
                console.log("valid form")
                let formData = $("#budgetForm").serialize()
                formData += "&id=" + encodeURIComponent("@Model?.Id")
                console.log(formData);

                $.ajax({
                    url: "/BudgetPlan/EditBudgetPlan",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    beforeSend: () => { },
                    success: function (res) {
                        if (res.statusCode == 200 || res.statusCode == 201) {
                            toastr.success(res.message)
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        } else {
                            toastr.error(res.message)
                        }
                    },
                    error: function (errRes) {
                        console.error(errRes)
                        debugger
                    }
                })
            }
        })
    })
</script>
